@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jaro:opsz@6..72&display=swap');

/* styles.css */
body {
  font-family: 'Orbitron', sans-serif; /* Fonte futurista */
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  background: linear-gradient(135deg, #000428, #004e92); /* Fundo gradiente estilo espaço */
  color: #ffffff;
  text-align: center;
  overflow-x: hidden;
}

header {
  background: linear-gradient(90deg, rgba(0, 255, 204, 0.7), rgba(0, 128, 255, 0.7));
  color: white;
  padding: 20px 0;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
  animation: glow 3s infinite alternate;
}

header h1 {
  margin: 0;
  font-size: 3em;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}

header p {
  margin: 10px 0 0;
  font-size: 1.2em;
}

p {
  font-size: 2rem;
  font-family: "Jaro", sans-serif;
  user-select: none;
}

section p:hover{
  color:rgb(255, 85, 0);
  transform: scale(1.5);
}

hr {
  height: 5px; /* Define a espessura */
  background-color: #007BFF; /* Cor da linha */
}

main {
  padding: 20px;
}

.construction img {
  max-width: 80%;
  height: auto;
  margin: 20px 0;
  box-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc;
  animation: flicker 2s infinite;
}

.construction h2 {
  font-size: 2em;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 30px #00ffcc;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  font-size: 1.2em;
  text-shadow: 0 0 5px #00ffcc;
}

img {
  width: 15rem;
}

h2 {
  margin: 15px 0;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  color: #00ffcc;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-shadow: 0 0 5px #00ffcc;
  box-shadow: 0 -2px 10px #00ffcc;
}

/* Animações */
@keyframes glow {
  from {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  }
  to {
    box-shadow: 0 0 30px rgba(0, 255, 255, 1);
  }
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
