@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


:root {
  --cor-primaria: #2C3E50;
  --cor-secundaria: #2c3e5023;
  --cor-fundo: #ECF0F1;
  --cor-footer: #2c3e501b;
  --cor-logo: #1e264b;
  --cor-texto: #34495E;
  --fonte-principal: 'Arial', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  
}

body{
  padding: 0;
  font-family: "Poppins", serif;
  color: var(--cor-texto);
  text-align: center;
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  font-size: 1.4rem;
  margin: 1rem 8rem;
}

ul{
  text-align: start;
  margin: 0 5rem;
  font-size: 1.4rem;
}

li{
  margin-bottom: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--cor-primaria);
  padding: 0.5rem;

}

nav{
  display: flex;
  justify-content: center;
}
nav img {
  width: 4rem;
  border-radius: 2rem 0 0 0;
}

nav h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0.7rem;
  color: var(--cor-fundo);
  background-color: var(--cor-logo);
}

main {
  margin-top: 6rem;
}

section h1{
  font-size: 3rem;
  margin: 2rem;
}

section img{
  width: min(90%, 50rem);
  
}

img#cliente{
  margin: 5rem 0 2rem 0;
}

.cartao{
  border: solid;
  margin: 4rem 2rem;
  border-radius: 1rem 5rem 5rem 1rem;
  background-color: var(--cor-secundaria);
}

footer{
  background-color: var(--cor-footer);
}

footer p{
  margin-bottom: 0;
}

@media (max-width: 768px) {

    p{
  font-size: 1.4rem;
  margin: 1rem 2rem;
}

}
